// Color
$color-green-1 : #1dbf73;
$color-green-2 : #19a463;
$color-green-3 : #003912;
$color-grey-1 : #7a7d85;
$color-grey-2 : #62646a;
$color-grey-3 : #404145;
$color-grey-4 : rgb(122, 125, 133);
$color-grey-5 : #95979d;
$color-grey-6 : #e4e5e7;
$color-grey-7 : #f5f5f5;
$color-grey-8 : #dadbdd;
$color-grey-9 : #b5b6ba;
$color-grey-10 : #c5c6c9;
$color-grey-11: #efeff0;
$color-black-1 :black;

$color-blue-1 : #4a73e8;
$color-blue-2 : #0d084d;
$color-blue-3 : #584aff;
$color-blue-4 : #d4defb;

$color-white-1 : #fff;
$color-pink-1 : #ff62ad;

// Font Size
$fs-0:16px;
$fs-1:20px;
$fs-18:18px;
$fs-2:24px;
$fs-3:32px;
$fs-4:48px;
$fs-5:100px;

// Font Weight
$fw-0:normal;
$fw-1:600;
$fw-2:700;
$fw-500 : 500;

//border-radius
$border-radius:5px;


// Distance
$ds-0:1px;
$ds-1:8px;
$ds-2:10px;
$ds-3:12px;
$ds-4:16px;
$ds-5:20px;
$ds-6:24px;
$ds-7:30px;
$ds-8:40px;
$ds-9:52px;

$breakpoints:(
    'eel' : 1400px,
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
)





